@import "compass";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   14px;
$base-line-height: 18px;

$border-color: #bbbbbb;
$info-color: #dddddd;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;

body {
  font-family: $font-family;
  color: $font-color; 
  text-align: center;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

h1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

b{
  font-weight: bold;
  font-size: 140%;
}

#main {
  width: 960px;
  margin: 10px auto 0 auto;
  height: 100%;
}

#sidebar{
  float: right;
  width: 250px;
}

#myinfo{
  width: 250px;
  height: 300px;
  border: solid 3px;
  border-color: $border-color;
  background-color: $info-color;
  border-radius: 20px;
  padding: 15px;
  font-size: $base-font-size;
  text-align: left;
}
#myinfo #image{
  float: left;
  margin-right: 20px;
}
#text{
  margin: 0 auto 0 auto;
  width: 400px;
  height: 400px;
}
#dialogue1 #text{
  width: 400px;
  padding-top: 50px;
}
#dialogue2 #text{
  width: 400px;
  padding-top: 50px;
}
#dialogue3 #text{
  padding-top: 85px;
  width: 350px;
  font-size: 20px;
}
#thought #text{
  width: 350px;
  padding-top: 50px;
}
#dialogue1{
  background-image: url('../images/dialogue1.png');
  width: 450px;
  height: 400px;
  float: left;
  text-align: center;
}
#dialogue3{
  background-image: url('../images/dialogue1.png');
  width: 450px;
  height: 400px;
  float: left;
  text-align: center;
}
#dialogue2{
  background-image: url('../images/dialogue2.png');
  width: 450px;
  height: 400px;
  float: right;
  text-align: center;
}
#thought{
  background-image: url('../images/thought.png');
  width: 450px;
  height: 400px;
  float: right;
  text-align: center;
}
#contact_info{
  margin-top: 20px;
}
#contact_info img{
  margin: 0 5px 0 5px;
}
.item{
  text-align: center;
  display: inline-block;
}
#projects.item{
  width: 85px;
  height: 45px;
}
#skills.item{
  width: 85px;
  height: 45px;
}
#experience.item{
  width: 85px;
  height: 45px;
}
#blog.item{
  width: 85px;
  height: 45px;
}
#upc.item{
  width: 85px;
  height: 85px;
  margin-top: 5px;
  float: right;
  margin-right: 20px;
}
#imesmes.item{
  float: left;
  margin-left: 30px;
  width: 160px;
  height: 65px;
}
#metropolia.item{
  float: right;
  margin-right: 65px;
  width: 77px;
  height: 80px;
  margin-top: 20px;
}
#mibweb.item{
  float: left;
  margin-left: 50px;
  margin-top: 30px;
  width: 140px;
  height: 35px;
}
.hidden{
  display: none;
}
#welove{
  font-size: 30px;
  margin-top: 40px;
  margin-left: 90px;
  margin-right: 15px;
  font-weight: bold;
  float:left;
}
#rails_image{
  float: left;
  margin-top: 10px;
}
#blackboard{
  background-image: url('../images/blackboard.png');
  width: 960px;
  height: 600px;
}
#blackboard #elements{
  width: 480px;
  height: 560px;
  padding: 40px 40px 0px 40px;
  float: left;
  margin-bottom: 10px;
}
#blackboard .element{
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}
#ruby.element{
  width: 120px;
  height: 120px;
  top: 10px;
  left: 50px;
}
#php.element{
  float:right;
  top: 120px;
  height: 53px;
  width: 100px;
}
#jquery.element{
  float: right;
  width: 264px;
  height: 60px;
  top: 90px;
}
#rubygems.element{
  top: 160px;
  right: 0px;
  width: 156px;
  height: 120px;
}
#rails.element{
  width: 86px;
  height: 110px;
  top: 160px;
  left: -90px;
}
#languages.element{
  float: left;
  top: 120px;
  left: 70px;
  width: 120px;
  height: 120px;
}
#others.element{
  float: right;
  top: 220px;
  right: 20px;
  width: 230px;
  height: 60px;
}
#blackboard_description{
  float: left;
  width: 360px;
  margin-top: 40px;
}
#menubar{
  margin: 10px auto 0 auto;
  width: 600px;
  height: 35px;
  border-radius: 10px;
  background-image: url('../images/menubar.png');
}
#menubar ul{
  margin: 0 auto 0 auto;
  width: 505px;
  height: 35px;
  border-left: 1px solid black;
}
#menubar ul li{
  display: inline-block;
  height: 35px;
  width: 100px;
  text-align: center;
  border-right: 1px solid black;
}
